{% extends "ghoghnoos/base.html" %}
{% block content %}
{% load humanize %}
<h4>person information :</h4>
<h5>username : {{acount.name}}</h5>
<p>{{acount.number_phone1}}</p>
<p>{{acount.number_phone2}}</p>
<p>{{acount.post_code}}</p>
<p>{{acount.addres}}</p>
<ul>
    {% for ord in order %}
    <li>
        {% if  ord.product %}
        <img src="{{ord.product.picture.url}}" alt="{{ord.product.url_name}}" style="width: 200px;">
        <p>{{ord.product.name}}</p>
        <p>{{ord.product.totall_price|intcomma}}</p>
        {% endif %}
        {% if ord.special %}
        <img src="{{ord.special.picture.url}}" alt="{{ord.special.url_name}}" style="width: 200px;">
        <p>{{ord.special.name}}</p>
        <p>{{ord.special.totall_price|intcomma}}</p>
        {% endif %}
        {% if ord.discount %}
        <img src="{{ord.discount.picture.url}}" alt="{{ord.discount.url_name}}" style="width: 200px;">
        <p>{{ord.discount.name}}</p>
        <p>{{ord.discount.totall_price|intcomma}}</p>
        {% endif %}
        <p>{{ord.count_action}}</p>
        <p>{{ord.color}}</p>
        <p>{{ord.size}}</p>
        <p>{{ord.describe}}</p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}