{% extends 'ghoghnoos/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="MyFont">
<div class="justify-items-center">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form action="{% url 'ghoghnoos:add_comment' product.url_name %}" class="justify-items-center" method="post">
            <p class="text-3xl mt-2 mb-4 whitespace-nowrap ">نظر خود را به اشتراک بزارید</p>
            {% csrf_token %}
            {{form.text|add_class:"bg-gray-50 m-1 max-w-96 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"|attr:"placeholder:نظر خود را بنویسید"}}
                <!-- Modal toggle -->
            <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">
              ارسال
            </button>
        </form>
    </div>
</div>
</body>
</html>
{% endblock content %}