{% extends "ghoghnoos/base.html" %}
{% block content %}
{% load humanize %}
<ul>
    {% for ord in order %}
    <li>
        {% if  ord.product %}
        <img src="{{ord.product.picture.url}}" alt="{{ord.product.url_name}}" style="width: 200px;">
        <p>{{ord.product.name}}</p>
        <p>{{ord.product.totall_price|intcomma}}</p>
        {% endif %}
        {% if ord.special %}
        <img src="{{ord.special.picture.url}}" alt="{{ord.special.url_name}}" style="width: 200px;">
        <p>{{ord.special.name}}</p>
        <p>{{ord.special.totall_price|intcomma}}</p>
        {% endif %}
        {% if ord.discount %}
        <img src="{{ord.discount.picture.url}}" alt="{{ord.discount.url_name}}" style="width: 200px;">
        <p>{{ord.discount.name}}</p>
        <p>{{ord.discount.totall_price|intcomma}}</p>
        {% endif %}
        <p>{{ord.count_history}}</p>
        <p>{{ord.color}}</p>
        <p>{{ord.size}}</p>
        <p>{{ord.date_added}}</p>
        <p>{{ord.date_sended}}</p>
        <p>{{ord.describe}}</p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}