{% extends 'ghoghnoos/base.html' %}
{% block content %}
{% load humanize %}
<p><a href="{% url 'ghoghnoos:user_action' %}">Action</a> -
 <a href="{% url 'ghoghnoos:buy_history' %}">History</a></p>
<h4>Totall price : {{totall_price|intcomma}}</h4>
<a href="{% url 'users:profill' totall_price %}">Buy</a>
<ul>
    {% for ord in order %}
    <li>
        {% if  ord.product %}
        <img src="{{ord.product.picture.url}}" alt="{{ord.product.url_name}}" style="width: 200px;">
        <p>{{ord.product.name}}</p>
        <p>{{ord.product.totall_price|intcomma}}</p>
        {% endif %}
        {% if ord.special %}
        <img src="{{ord.special.picture.url}}" alt="{{ord.special.url_name}}" style="width: 200px;">
        <p>{{ord.special.name}}</p>
        <p>{{ord.special.totall_price|intcomma}}</p>
        {% endif %}
        {% if ord.discount %}
        <img src="{{ord.discount.picture.url}}" alt="{{ord.discount.url_name}}" style="width: 200px;">
        <p>{{ord.discount.name}}</p>
        <p>{{ord.discount.totall_price|intcomma}}</p>
        {% endif %}
        <p>{{ord.count}}</p>
        <p>{{ord.color}}</p>
        <p>{{ord.size}}</p>
        <p>{{ord.describe}}</p>
        {% if  ord.product %}
        <p><a href="{% url 'ghoghnoos:product' ord.product.url_name %}">Edit</a></p>
        {% endif %}
        {% if ord.special %}
        <p><a href="{% url 'ghoghnoos:product' ord.special.url_name %}">Edit</a></p>
        {% endif %}
        {% if ord.discount %}
        <p><a href="{% url 'ghoghnoos:product' ord.discount.url_name %}">Edit</a></p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}