{% extends "ghoghnoos/base.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css">
</head>
<body class="pb-5 MyFont" style="background-color: #c5d8c4;">
<div id="gallery" class="relative w-full bg-gray-600" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        {% for img in images %}
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{img.picture.url}}" alt="{{product.url_name}}" id="1" class="absolute block max-h-96 min-h-64 h-96 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        </div>
        {% endfor %}
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>


<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-xl md:text-3xl">
                    {{product.name}}
                </th>
                <td>
                    <a href="{% url 'ghoghnoos:comments' product.url_name %}">
                        <div class="flex">
                            <p class="text-xl mt-2">دیدگاه</p>
                            <svg class="w-8 h-8 mt-2 text-gray-500 dark:text-gray-400 mb-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z"/>
                            </svg>
                        </div>
                    </a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-xl md:text-3xl">
                    {{product.price}} تومان
                </th>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <tbody>
            <tr class="bg-gray-50 dark:bg-gray-800">
                <td class="px-6 py-4 text-xl md:text-3xl">
                    {{product.describe}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="relative overflow-x-auto w-full flex">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-3 py-3  text-sm md:text-3xl">
                    رنگ
                </th>
                <th scope="col" class="px-3 py-3  text-sm md:text-3xl">
                    قیمت
                </th>
            </tr>
        </thead>
        <tbody>
            {% for col in colors %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-sm md:text-3xl">
                    {{col.name_color}}
                </th>
                <td class="px-3 py-4 text-sm md:text-3xl">
                    {{col.price_color}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-3 py-3 text-sm md:text-3xl">
                    اندازه
                </th>
                <th scope="col" class="px-3 py-3 text-sm md:text-3xl">
                    قیمت
                </th>
            </tr>
        </thead>
        <tbody>
            {% for siz in sizes %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-sm md:text-3xl">
                    {{siz.height}}*{{siz.width}}*{{siz.colm}}
                </th>
                <td class="px-3 py-4 text-sm md:text-3xl">
                    {{siz.price_size}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form action="{% url 'ghoghnoos:product' product.url_name  %}" method="post">
    {% csrf_token %}
    {{form.count|add_class:"bg-gray-50  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"|attr:"placeholder:تعداد"}}
    <div class="flex">
        {{form.color|add_class:"bg-gray-50  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}
        {{form.size|add_class:"bg-gray-50  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}
    </div>
    {{form.describe|add_class:"block  p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"|attr:"placeholder:توضیحات..."}}
    <div class="mt-5 ml-4 mr-4">
        <button name="submit" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </div>
</form>
{% if user.is_superuser %}
<div class="mt-5 ml-4">
 <a href="{% url 'ghoghnoos:edit_product' product.url_name %}"
 class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4
  focus:outline-none focus:ring-blue-300 font-medium rounded-lg
   text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Edit</a>   
</div>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
{% endblock content %}