{% extends "ghoghnoos/base.html" %}
{% block content %}
<img src="{{product.picture.url}}" alt="{{product.url_name}}" style="width: 200px;">
<p>{{product.name}}</p>
{% if not product.price == product.totall_price %}
<p style="text-decoration: line-through; color: red;">{{product.price}}</p>
<p>{{product.totall_price}}</p>
{% else %}
<p>{{product.price}}</p>
{% endif %}
<p>{{product.describe}}</p>
<form action="{% url 'ghoghnoos:product' product.url_name  %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button name="submit">Buy</button>
</form>
<p><a href="{% url 'ghoghnoos:edit_product' product.url_name %}">Edit</a></p>
{% endblock content %}